<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name="org.ramani.compose.TestActivity"
            android:exported="false" />
        <activity android:name="org.ramani.compose.ComposeTestActivity"
            android:exported="false" />
    </application>
</manifest>
