name: Build and Test

on:
  push:
    branches:
    - 'main'
  workflow_dispatch:
  pull_request:
    branches:
    - '*'
  release:
    types: [created]

jobs:
  ramani-maplibre:
    name: Build and test ramani-maplibre
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Build
        working-directory: ./ramani-maplibre
        run: |
            ./gradlew build
            ./gradlew test
      - name: Print github values
        run: echo "github.event_name=${{ github.event_name }}, github.event.action=${{ github.event.action }}, github.ref_name=${{ github.ref_name }}"
      - name: Publish (Maven)
        if: ${{ github.event_name == 'release' && github.event.action == 'created' && startsWith(github.ref_name, 'maplibre') }}
        working-directory: ./ramani-maplibre
        run: |
            echo -n "${{ secrets.MAVEN_SIGNING_KEY }}" | base64 --decode | gpg --import
            ./gradlew -Prelease -PossrhUsername=${{ secrets.OSSRH_USERNAME }} -PossrhPassword=${{ secrets.OSSRH_PASSWORD }} publish

  annotation-simple:
    name: "Build and test example: AnnotationSimple"
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Use ramani as composite build
        working-directory: ./examples/annotation-simple
        run: echo "includeBuild(\"../../ramani-maplibre\")" >> settings.gradle.kts
      - name: Build
        working-directory: ./examples/annotation-simple
        run: |
            ./gradlew build
            ./gradlew test

  interactive-polygon:
    name: "Build and test example: InteractivePolygon"
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Use ramani as composite build
        working-directory: ./examples/interactive-polygon
        run: echo "includeBuild(\"../../ramani-maplibre\")" >> settings.gradle.kts
      - name: Build
        working-directory: ./examples/interactive-polygon
        run: |
            ./gradlew build
            ./gradlew test

  location:
    name: "Build and test example: Location"
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Use ramani as composite build
        working-directory: ./examples/location
        run: echo "includeBuild(\"../../ramani-maplibre\")" >> settings.gradle.kts
      - name: Build
        working-directory: ./examples/location
        run: |
            ./gradlew build
            ./gradlew test

  clusters:
    name: "Build and test example: Clusters"
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Use ramani as composite build
        working-directory: ./examples/clusters
        run: echo "includeBuild(\"../../ramani-maplibre\")" >> settings.gradle.kts
      - name: Build
        working-directory: ./examples/clusters
        run: |
            ./gradlew build
            ./gradlew test

  custom-layers:
    name: "Build and test example: CustomLayers"
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Set tokens
        working-directory: ./examples/custom-layers
        run: |
            echo "MAPTILER_API_KEY=placeholder" >> keystore.properties
            echo "THUNDERFOREST_API_KEY=placeholder" >> keystore.properties
      - name: Use ramani as composite build
        working-directory: ./examples/custom-layers
        run: echo "includeBuild(\"../../ramani-maplibre\")" >> settings.gradle.kts
      - name: Build
        working-directory: ./examples/custom-layers
        run: |
            ./gradlew build
            ./gradlew test

  custom-annotation:
    name: "Build and test example: CustomAnnotation"
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Use ramani as composite build
        working-directory: ./examples/custom-annotation
        run: echo "includeBuild(\"../../ramani-maplibre\")" >> settings.gradle.kts
      - name: Build
        working-directory: ./examples/custom-annotation
        run: |
            ./gradlew build
            ./gradlew test

